---
http_interactions:
- request:
    method: get
    uri: https://dns.google.com/resolve?name=example.com&type=A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status": 0,"TC": false,"RD": true,"RA": true,"AD": true,"CD": false,"Question":[
        {"name": "example.com.","type": 1}],"Answer":[ {"name": "example.com.","type":
        1,"TTL": 3017,"data": "93.184.216.34"}]}'
  recorded_at: Sun, 26 Aug 2018 20:21:02 GMT
- request:
    method: get
    uri: https://dns.google.com/resolve?name=github.com&type=A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status": 0,"TC": false,"RD": true,"RA": true,"AD": false,"CD": false,"Question":[
        {"name": "github.com.","type": 1}],"Answer":[ {"name": "github.com.","type":
        1,"TTL": 58,"data": "192.30.255.112"},{"name": "github.com.","type": 1,"TTL":
        58,"data": "192.30.255.113"}]}'
  recorded_at: Sun, 26 Aug 2018 20:21:02 GMT
- request:
    method: get
    uri: https://dns.google.com/resolve?name=google.com&type=A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status": 0,"TC": false,"RD": true,"RA": true,"AD": false,"CD": false,"Question":[
        {"name": "google.com.","type": 1}],"Answer":[ {"name": "google.com.","type":
        1,"TTL": 247,"data": "216.58.197.238"}]}'
  recorded_at: Sun, 26 Aug 2018 20:21:02 GMT
recorded_with: VCR 4.0.0
