---
http_interactions:
- request:
    method: get
    uri: https://dns.google.com/resolve?name=github.com&type=A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status": 0,"TC": false,"RD": true,"RA": true,"AD": false,"CD": false,"Question":[
        {"name": "github.com.","type": 1}],"Answer":[ {"name": "github.com.","type":
        1,"TTL": 59,"data": "192.30.255.112"},{"name": "github.com.","type": 1,"TTL":
        59,"data": "192.30.255.113"}],"Comment": "Response from 204.13.250.16."}'
  recorded_at: Sun, 26 Aug 2018 20:21:01 GMT
recorded_with: VCR 4.0.0
