---
http_interactions:
- request:
    method: get
    uri: https://dns.google.com/resolve?name=github.com&type=A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status": 0,"TC": false,"RD": true,"RA": true,"AD": false,"CD": false,"Question":[
        {"name": "github.com.","type": 1}],"Answer":[ {"name": "github.com.","type":
        1,"TTL": 59,"data": "192.30.255.113"},{"name": "github.com.","type": 1,"TTL":
        59,"data": "192.30.255.112"}],"Comment": "Response from ns-1283.awsdns-32.org.(208.78.70.16)."}'
  recorded_at: Fri, 24 Aug 2018 08:46:30 GMT
recorded_with: VCR 4.0.0
