---
http_interactions:
- request:
    method: get
    uri: https://cloudflare-dns.com/dns-query?name=github.com&type=A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/dns-json
    body:
      encoding: ASCII-8BIT
      string: '{"Status": 0,"TC": false,"RD": true, "RA": true, "AD": false,"CD":
        false,"Question":[{"name": "github.com.", "type": 1}],"Answer":[{"name": "github.com.",
        "type": 1, "TTL": 25, "data": "192.30.255.112"},{"name": "github.com.", "type":
        1, "TTL": 25, "data": "192.30.255.113"}]}'
  recorded_at: Sun, 26 Aug 2018 01:00:23 GMT
recorded_with: VCR 4.0.0
