---
http_interactions:
- request:
    method: get
    uri: https://cloudflare-dns.com/dns-query?name=example.com&type=A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/dns-json
    body:
      encoding: ASCII-8BIT
      string: '{"Status": 0,"TC": false,"RD": true, "RA": true, "AD": true,"CD": false,"Question":[{"name":
        "example.com.", "type": 1}],"Answer":[{"name": "example.com.", "type": 1,
        "TTL": 3696, "data": "93.184.216.34"}]}'
  recorded_at: Sun, 26 Aug 2018 00:59:38 GMT
recorded_with: VCR 4.0.0
