---
http_interactions:
- request:
    method: get
    uri: https://dns.google.com/resolve?edns_client_subnet=0.0.0.0/0&name=example.com&random_padding=XmkMw~o_mgP2pf.gpw-Oi5dK&type=A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status": 0,"TC": false,"RD": true,"RA": true,"AD": true,"CD": false,"Question":[
        {"name": "example.com.","type": 1}],"Answer":[ {"name": "example.com.","type":
        1,"TTL": 6495,"data": "93.184.216.34"}],"Additional":[],"edns_client_subnet":
        "0.0.0.0/0"}'
  recorded_at: Sun, 26 Aug 2018 00:59:38 GMT
recorded_with: VCR 4.0.0
